.Game {
  background-color: #4059ad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #eff2f1;
  text-align: center;
}

.app__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.app__menu-item {
  cursor: pointer;
  margin: 0 2rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #eff2f1;
}

.selected {
  color: #eff2f1;
  border-bottom: 3px solid #eff2f1;
}

h3 {
  margin-top: 3rem;
}

.app__game-button {
  background-color: #97d8c4;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5rem;
}

.app__highscores-list {
  list-style-type: none;
  width: 20vw;
}

.app__highscores-item {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}
