.app__wordList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.app__wordsList-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}
